---
import Header from "../components/Header";
import Hero from "../components/Hero";
import "../styles/Index.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<title>Kyle Hu | Portfolio</title>
	</head>
	<body>
		<Header />
		<main>
			<Hero />
		</main>
	</body>
</html>
